div.battlefield
    div(*ngIf="openedModalType != ''").modal__overlay
        div.modal__window(*ngIf="openedModalType == 'attack'", [ngClass]="")
            div((click)="closeModal()").modal__close
            div.modal__content
                div.modal__user
                    div([ngStyle]="{'background': 'linear-gradient(to top,' + selectedPlayer.icon.c1 +','+ selectedPlayer.icon.c2 + ')'}").modal__user-icon {{ selectedPlayer.name[0] }}
                    div.modal__user-name {{ selectedPlayer.name }}

                div.spacer--bottom50
                div.modal__title DEFEAT HIM!
                div.spacer--bottom5
                div(style="width: 300px; text-align: center")
                    span Choose spell for attack and dont forger about your mana points.

                div.spacer--bottom50

                div.modal__mana
                    span.modal__mana-icon
                    span.modal__mana-count {{ user.mana }}
                    span(style="position: relative; top: 2px") mana

            div.modal__select-resist
                ul.modal__resists
                    li( *ngFor="let spell of spells",
                        [ngClass]="{ active: spell.active, deactive: !spell.active && selectedSpell.name != '' }",
                        (click) = "selectSpell(spell)").modal__resist
                        div.modal__resist-icon
                            img(src="{{ spell.icon1 }}", alt="")
                        div.modal__resist-name {{ spell.name }}
                        div.modal__resist-count
                            div.modal__resist-value {{ spell.cost }}
                            div.modal__resist-color

                div.spacer--both50

                div(*ngIf="selectedPlayer.uuid != selectedPlayer.owner && user.uuid == user.owner", style="text-align: center") Sorry! Somebody already owns him...
                button(*ngIf="user.uuid == user.owner && selectedPlayer.uuid == selectedPlayer.owner", [disabled]="selectedSpell.name == '' || selectedSpell.cost > user.mana", (click)="attack()").btn.btn--blue.modal__button Cast!
                button(*ngIf="user.uuid != user.owner", [disabled]="selectedSpell.name == '' || selectedSpell.cost > user.mana", (click)="restoreAccount()").btn.btn--blue.modal__button Restore!

        div.modal__window(*ngIf="openedModalType == 'loading'")
            div.modal__close
            div.modal__content.modal__content--loading
                div.modal__user
                    div([ngStyle]="{'background': 'linear-gradient(to top,' + selectedPlayer.icon.c1 +','+ selectedPlayer.icon.c2 + ')'}").modal__user-icon {{ selectedPlayer.name[0] }}
                    div.modal__user-name {{ selectedPlayer.name }}

                div.modal__progress
                    div.modal__spell-icon
                        img(src=" {{ selectedSpell.icon2 }}", alt="")
                    div.modal__title CASTING SPELL!
                    div.spacer--bottom15
                    div.modal__progress-duration
                        div([ngStyle]="{'background': selectedSpell.color }").modal__progress-value
                div
                    span Wait a few seconds, please!

        div.modal__window(*ngIf="openedModalType == 'result-win'")
            div((click)="closeModal()").modal__close
            div.modal__content.modal__content--result
                div.modal__user
                    div([ngStyle]="{'background': 'linear-gradient(to top,' + selectedPlayer.icon.c1 +','+ selectedPlayer.icon.c2 + ')'}").modal__user-icon {{ selectedPlayer.name[0] }}
                    div.modal__user-name {{ selectedPlayer.name }}

                div.spacer--bottom50

                div.modal__title Congrats! He’s soul is yours!
                div.spacer--bottom5
                div
                    span In his defense there was a gap, you successfully broke it. Now his soul is yours and you get some bonuses for those he defeated

                div.spacer--bottom25
                div
                    span.modal__points + 1 exp
                    span.modal__points.modal__points--blue + 5 bonus points

                div.spacer--bottom40

                div
                    img(src="../icons/smile-won.svg", alt="")

                div(style="margin-bottom: 66px")

                button((click) = "closeModal()").btn.btn--white.modal__button Close

        div.modal__window(*ngIf="openedModalType == 'result-loose'")
            div((click)="closeModal()").modal__close
            div.modal__content.modal__content--result
                div.modal__user
                    div([ngStyle]="{'background': 'linear-gradient(to top,' + selectedPlayer.icon.c1 +','+ selectedPlayer.icon.c2 + ')'}").modal__user-icon {{ selectedPlayer.name[0] }}
                    div.modal__user-name {{ selectedPlayer.name }}

                div.spacer--bottom50

                div.modal__title Oops! You’re missed!
                div.spacer--bottom5
                div
                    span Your enemy have «Water Resist», maybe you will try your fate and attack him again?

                div.spacer--bottom50

                div.modal__mana
                    span.modal__mana-icon
                    span.modal__mana-count {{ user.mana }}
                    span(style="position: relative; top: 2px") mana

                div(style="margin-bottom: 66px")

                div
                    img(src="../icons/smile-lost.svg", alt="")

                div.spacer--bottom50

                button((click) = "tryAgain()").btn.btn--white.modal__button Try again


    div.battlefield__header
        div.icon-logo-small
        ul.battlefield__nav-list
            li.battlefield__nav__item
                a.telegram-link(href="https://t.me/spellshoot")
                    .icon-logo-telegram
                    span Game chat
            li.battlefield__nav__item.nav-item--yellow((click)="isShowUpdateRools = !isShowUpdateRools") Update soon
            li.battlefield__nav__item((click)="signOut()") Log out

    .update(*ngIf="isShowUpdateRools")
        .update__header
            .update__back((click)="isShowUpdateRools = !isShowUpdateRools")
                .icon-arrow-back
            .update__title New features every month!
            .update__description
                | We&nbsp;are very pleased to&nbsp;inform you that we
                | &nbsp;have planned a&nbsp;lot of&nbsp;cool
                | innovations in&nbsp;our game. Gradually we&nbsp;will
                | introduce many interesting things

        .update__content
            .update__feature.feature--basis45
                .update__feature-img
                    .img-heroes
                .update__feature-title 4 Classes
                .update__feature-description
                    | Four new classes that will have their advantages and disadvantages,
                    | they will have different abilities, ultimate spells and weapons.
                    | Yep! We&nbsp;will bring into the game armors and weapons!
            .update__feature.feature--basis30
                .update__feature-img
                    .img-ork
                .update__feature-title Races
                .update__feature-description
                    | We&nbsp;will add the ability to&nbsp;select one
                    | of&nbsp;several races for your character and you
                    | will be&nbsp;able to&nbsp;get bonuses depending on&nbsp;your choice!
            .update__feature.feature--basis45
                div
                    .update__feature-title Level up!
                    .update__feature-description
                        | Four new classes that will have their advantages
                        | and disadvantages, they will have different abilities, ultimate spells and weapons.
                        | Yep! We&nbsp;will bring into the game armors and weapons!
                div
                    .update__feature-title PvP arena
                    .update__feature-description
                        | Fight with your friends against other players
                        | in the arenas 3 x 3, 2 x 2.
            .update__feature.feature--basis30.update__feature-item
                .update__feature-img
                    .img-weapon
                .update__feature-title Items
                .update__feature-description
                    | We&nbsp;will add the ability to&nbsp;select one of&nbsp;
                    | several races for your character and you will be&nbsp;
                    | able to&nbsp;get bonuses depending on&nbsp;your choice!
            .update__feature.feature--basis45
                .update__feature-img
                    .img-creatures
                .update__feature-title Creatures and quests
                .update__feature-description
                    | Your hero will be available weekly and daily tasks,
                    | as well as you can attack the mobs and get for this
                    | experience points and new things
            .update__feature.feature--basis30
                .update__feature-img
                    .img-crafting
                .update__feature-title Craft and sell
                .update__feature-description
                    | In&nbsp;the game you can create a&nbsp;potion and
                    | weapons. Create new powerful clothes and sell
                    | it&nbsp;on&nbsp;the trading floor


    div.battlefield__content([ngClass]="{'hacked': user.owner !== user.uuid}", *ngIf="!isShowUpdateRools")
        div([ngClass]="{active: isBubblesActive}").bubbles
            div.bubbles__text Somebody attacking you!
            div([ngStyle]="{ 'background': bubbleColor }").bubble.bubble-1
            div([ngStyle]="{ 'background': bubbleColor }").bubble.bubble-2
            div([ngStyle]="{ 'background': bubbleColor }").bubble.bubble-3

        div.player
            div.player-stat
                div.player-stat__score
                    div.player-stat__title Score
                    div.player-stat__value {{user.battles}} +&nbsp;
                        span {{user.bonus}}
                div.player-stat__owning
                    div.player-stat__title Owning
                    div.player-stat__value {{getOwning().length}}
                div.player-stat__position
                    div.player-stat__title Position
                    div.player-stat__value {{position}}

            div.player__profile
                div.player__profile__person-info
                    div.person-photo([ngStyle]="{'background-image': 'linear-gradient(225deg,' + user.icon.c1 +','+ user.icon.c2 + ')'}", [ngClass]="{'captured': user.uuid !== user.owner}")
                        span {{user.name[0]}}
                    div.person-name
                        span {{user.name}}
                div.player__profile__mana-info
                    div.mana-icon
                    span.mana-count {{user.mana}}
                    span.mana-title Mana

            div.resist
                div.resist__item.frost
                    div.icon-spell-small.frost-spell-small.resist-icon
                    div.resist__info
                        span.resist__title Frost
                        span.resist__value {{user.resists.frost}}%
                div.resist__item.water
                    div.icon-spell-small.water-spell-small.resist-icon
                    div.resist__info
                        span.resist__title Water
                        span.resist__value {{user.resists.water}}%
                div.resist__item.electro
                    div.icon-spell-small.electro-spell-small.resist-icon
                    div.resist__info
                        span.resist__title Electro
                        span.resist__value {{user.resists.electro}}%
                div.resist__item.fire
                    div.icon-spell-small.fire-spell-small.resist-icon
                    div.resist__info
                        span.resist__title Fire
                        span.resist__value {{user.resists.fire}}%


        div.boards
            div.boards__enemies(*ngIf="user.uuid === user.owner")
                .boards__head
                    span.boards__title Players&nbsp;
                    span.boards__count {{players.length}}
                .boards__enemies__content

                    .ng-container(*ngFor="let player of getPlayers()")
                        .boards__player-wrap(*ngIf="!player.isNews", (click)="selectPlayerForAttack(player)", [ngClass]="{'players-enemies': player.uuid !== user.uuid && player.owner === player.uuid, 'players-busy': player.owner  !== player.uuid}")
                            .boards__player
                                .boards__player__info
                                   .boards__player__photo([ngStyle]="{'background-image': 'linear-gradient(225deg,' + player.icon.c1 +','+ player.icon.c2 + ')'}")
                                        span {{player.name ? player.name[0] : ''}}
                                   span.boards__player__name([ngClass]="{'youself': player.uuid === user.uuid, 'players-busy': player.owner  !== player.uuid}") {{player.name}}
                                .boards__player__score {{player.score}}

            div.boards__captured(*ngIf="user.uuid !== user.owner")
                .boards__head__captured
                    span Defeat enemy!
                .boards__captured__content
                    .boards__player
                        .boards__player__info
                           .boards__player__photo([ngStyle]="{'background-image': 'linear-gradient(225deg,' + getOwner().icon.c1 +','+ getOwner().icon.c2 + ')'}")
                                span {{getOwner().name ? getOwner().name[0] : ''}}
                           span.boards__player__name {{getOwner().name}}
                    .boards__captured__info
                        .boards__captured-title OWNS YOU!
                        .boards__captured-suggest
                            | You can not win anybody until | you get your page back
                    .boards__captured__attack
                        button.btn.btn--default((click)="openModal('restore')") Win Back!

            div.boards__owning
                .boards__head
                    span.boards__title Owned by you&nbsp;
                    span.boards__count {{getOwning().length}}
                .boards__owning__content
                    .boards__player-wrap(*ngFor="let player of getOwning()")
                        .boards__player
                            .boards__player__info
                               .boards__player__photo([ngStyle]="{'background-image': 'linear-gradient(225deg,' + player.icon.c1 +','+ player.icon.c2 + ')'}")
                                    span {{player.name ? player.name[0] : ''}}
                               .boards__player__name {{player.name}}
                            .boards__player__score {{player.score}}
