.auth
    div.auth__header
        div.icon-logo-middle

    div.auth__content
        div.auth__form
            div.auth__form-header
                span Start fighting

            form(*ngIf="currentForm == 'up'", (ngSubmit)="signUp()" ).auth__form-content
                input([(ngModel)]="name", (keyup)="handlerName()" name="name" type="text" placeholder="Enter username" maxlength="16",  [ngClass]="{'error': conflict}").input
                input([(ngModel)]="password" name="password" type="password" placeholder="Enter your password").input
                input([disabled]="!name || !password" type="submit" value="Sign up").btn.btn--blue
                span.auth__form-err(*ngIf="conflict") Nickname is already taken

            form(*ngIf="currentForm == 'in'", (ngSubmit)="signIn()" ).auth__form-content
                input([(ngModel)]="name" name="name" type="text" placeholder="Enter username" maxlength="16").input
                input([(ngModel)]="password" name="password" type="password" placeholder="Enter your password").input
                input([disabled]="!name || !password" type="submit" value="Sign In").btn.btn--blue

            div.auth__form-footer
                span(*ngIf="currentForm == 'up'", (click)="switchToSignIn()") Already have account?
                span(*ngIf="currentForm == 'in'", (click)="switchToSignUp()") Register

    div.auth__footer
        div.auth__fb
            div.auth__fb-header
                span About game

            div.auth__fb-content
                span In this game, your main goal is to conquer the pages of other users. With the help of spells, defeat other players and do not let yourself be defeated. Accumulate mana and use your advantages. The battle has already begun!

        div.auth__fb
            div.auth__fb-header
                span 4 Spells

            div.auth__fb-content
                span In the game you can conquer other players with the help of four different spells. For each spell you spend mana, which is replenished over time

            div.auth__fb-footer
                div.icon-spell-small.water-spell-small
                div.icon-spell-small.fire-spell-small
                div.icon-spell-small.frost-spell-small
                div.icon-spell-small.electro-spell-small

        div.auth__fb
            div.auth__fb-header
                span 4 Resists

            div.auth__fb-content
                span You can also repel attacks of your enemies with a certain percentage probability. In the beginning, you can distribute the points

            div.auth__fb-footer
                div.icon-resist-small.water-resist-small
                div.icon-resist-small.fire-resist-small
                div.icon-resist-small.frost-resist-small
                div.icon-resist-small.electro-resist-small
