.battlefield
    background-image linear-gradient(to bottom, #061022, #2e052f)
    padding 40px 50px 40px
    &__header
        display flex
        justify-content space-between

    &__nav
        &-list
            display flex

        &__item
            height 18px
            color rgba(255, 255, 255, 0.58)
            font-size 15px
            letter-spacing -0.2px
            list-style-type none
            cursor pointer
            
            &.nav-item--yellow
                color #ffef6a

        &__item:not(:first-child):hover
            color rgba(255, 255, 255, 1)

        &__item:not(:first-child)
            margin-left 26px

    &__content
        position relative
        padding 57px 55px 0
        background rgba(255, 255, 255, 0.19)
        border-radius: 12px;
        box-sizing border-box
        overflow hidden
        margin-top 40px
        display flex
        justify-content space-between
        padding 40px 20px
        
        &.hacked
            background linear-gradient(to bottom, rgba(255, 255, 255, .15), rgba(255, 101, 143, .15));

    .player
        display flex
        flex-direction column
        align-items center
        margin-left 200px

        &-stat
            width 405px
            height 118px
            border-radius 100px
            background rgba(6, 16, 33, 0.41)
            box-sizing border-box
            padding 30px 70px
            display flex
            justify-content space-between
            align-items center
            margin-top 35px

            &__score,
            &__owning,
            &__position
                text-align center

            &__title
                font-size 15px
                letter-spacing -0.2px
                color #fff

            &__value
                font-size 21px
                font-weight 600
                letter-spacing -0.3px
                color #fff
                margin-top 7px
                
                & > span
                    color #9bf5ed

            &__value__owning
                color #9bf5ed

        &__profile
            margin-top 140px
            position relative

            &__person-info
                display flex
                flex-direction column
                align-items center

            &__mana-info
                position absolute
                top 67px
                right -130px

        .resist
            position relative
            margin-top 140px
            width 400px
            height 50px

            &__item
                position absolute
                width 65px
                display flex
                flex-direction column
                align-items center

            &__item.frost
                position absolute
                left 0
            &__item.water
                position absolute
                top 32px
                left 106px
            &__item.electro
                position absolute
                top 32px
                right 107px
            &__item.fire
                position absolute
                right 0

            &-icon
                margin-bottom 7px

            &__title,
            &__value
                font-size 15px
                letter-spacing -0.2px
                color #fff

            &__value
                font-weight bold
                margin-left 5px

    .boards
        display flex
        flex-direction column

        &__head__captured
            font-size 15px
            font-weight bold
            letter-spacing -0.2px
            color #fff

        &__enemies__content,
        &__owning__content
            padding 30px 0
            margin-top 15px
            width 304px
            overflow auto
            background: rgba(7, 16, 34, 0.91)

        &__enemies__content,
        &__captured__content
            height 350px

        &__captured
            &__content
                display flex
                margin-top 15px
                flex-direction column
                align-items center
                justify-content space-around
                background rgba(155, 41, 71, 0.91)

            &__info
                text-align center
                width 240px

            &-title
                font-size 34px
                font-weight 600
                letter-spacing -0.5px
                color #fff

            &-suggest
                font-size 15px
                letter-spacing -0.2px
                color #fff
                margin-top 3px

            &__attack
                width 241px

        &__owning__content
            height  230px

        &__title
            font-size 15px
            font-weight bold
            letter-spacing -0.2px
            color #fff

        &__count
            font-size 15px
            letter-spacing -0.2px
            color #a9f6f1

        &__owning
            margin-top 30px

        &__player
            display flex
            justify-content space-between
            align-items center

            &-wrap
                padding 10px 20px

            &-wrap.players-enemies
                cursor pointer

            &-wrap.players-enemies:hover
                background rgba(255, 255, 255, 0.14)
            
            &-wrap.players-busy
                background rgba(97, 44, 59, 0.6)

            &__info
                display flex
                align-items center

            &__photo
                display table
                width 30px
                height 30px
                border-radius 100px
                text-align center
                
                & > span
                    display table-cell
                    font-weight bold
                    font-size 19px
                    letter-spacing -0.3px
                    color #fff
                    vertical-align middle
                    text-transform uppercase

            &__name
                margin-left 13px
                &.youself
                    color #a9f6f1
                &.players-busy
                    color rgba(255, 255, 255, 0.6)

            &__name,
            &__score
                font-size 15px
                letter-spacing -0.2px
                color #fff

            &__score
                font-weight bold

        &__player:not(:first-child)
            margin-top 10px

.person
    &-name
        font-size 21px
        margin-top 17px
        & > span
            font-weight 600
            letter-spacing -0.3px
            color #fff
    &-photo
        display table
        width 150px
        height 150px
        box-shadow 0 2px 134px 0 rgba(8, 16, 35, 0.56)
        border-radius 100px
        text-align center
        & > span
            display table-cell
            vertical-align middle
            text-transform uppercase
            font-size 115px
            letter-spacing -1.5px
            color #fff
            font-weight bold


        &.captured
            border solid 5px #8d2743

.mana-icon
    display inline-block
    width 18px
    height 18px
    background #6b92ff
    border-radius 100px
    position relative
    top 2px
    
.telegram-link
    display flex
    text-decoration none
    color rgba(255, 255, 255, 0.58)
    
    & > span
        margin-left 8px

.telegram-link:hover
    color rgba(255, 255, 255, 1)

.mana-count
    font-size 21px
    font-weight bold
    letter-spacing -0.3px
    color #fff
    margin-left 4px

.mana-title
    font-size 15px
    letter-spacing -0.2px
    color #fff
    margin-left 4px

