.auth
    padding 40px
    background-image linear-gradient(to bottom, #061022, #2e052f)
    height 100%
    display flex
    flex-direction column
    align-items center

    &__header
        display flex
        justify-content center
        align-items center

    &__content
        display flex
        justify-content center
        align-items center
        padding 50px 0 100px 0

    &__footer
        display flex
        justify-content space-between
        width 1024px

    /** footer-block */
    &__fb
        width 30%
        color #f

        &-header
            margin-bottom 15px
            font-size 21px
            letter-spacing: -0.3px;

        &-content
            font-size 15px
            letter-spacing: -0.2px;

        &-footer
            margin-top 15px
            height 30px
            display flex

            & > div
                margin-right 12px


    &__form
        background rgba(255,255,255,.19)
        width 465px
        border-radius: 12px;
        
        &-err
            font-size 17px
            letter-spacing -0.2px
            color #ff6a6a
            position absolute
            bottom -10px

        &-header
            padding 75px
            text-align center

            font-size 21px
            font-weight 600
            letter-spacing -0.3px
            color #f

        &-content
            display flex
            flex-direction column
            align-items center
            position relative
            top -10px

            & > input
                width 326px
                margin-bottom 15px

        &-footer
            text-align center
            padding 50px

            font-size 15px
            letter-spacing -0.2px
            color #f

            & > span
                cursor pointer
