.bubbles
    position absolute
    top 0
    left 0
    width 220px
    height 100%

    &.active
        & > .bubble-1
            left -530px
            opacity 0
            transition left .8s ease-in 0s,
                       opacity .8s ease-in .2s

        & > .bubble-2
            left -500px
            opacity 0
            transition left .8s ease-in 0.2s,
                       opacity .8s ease-in .4s

        & > .bubble-3
            left -575px
            opacity 0
            transition left .8s ease-in 0.4s,
                       opacity .8s ease-in .6s

        & > .bubbles__text
                left 25px
                opacity 0
                transition left .4s ease-in 0.2s,
                           opacity .4s ease-in 1.5s

    &__text
        position absolute
        color rgba(255,255,255,.8)
        top 50%
        margin-top -27px
        left -80px
        width 80px

.bubble
    position absolute
    display block
    border-radius 100%
    top 50%
    opacity 0.2

    &-1
        height 100%
        width 750px
        height 750px
        margin-top -375px
        left -750px

    &-2
        height 100%
        width 650px
        height 650px
        margin-top -325px
        left -650px

    &-3
        height 100%
        width 650px
        height 650px
        margin-top -325px
        left -650px

