.input
    width 100%
    background #fff
    border-radius 100px
    height 38px
    color #000
    font-family "ProximaNova"
    font-size 17px
    letter-spacing -0.2px
    outline none
    border none
    padding 0 0 0 15px
    box-sizing border-box
    
    &.error
        border solid 2px #ff6a6a

    &--disabled
        background rgba(255, 255, 255, 0.4)

.btn
    width 100%
    border-radius 100px
    outline none
    height 38px
    font-family "ProximaNova"
    font-size 17px
    font-weight bold
    letter-spacing -0.2px
    border none
    cursor pointer

    &--default
        background #fff
        color #000
        &:hover
            background #dbd9dd
        &:active
             background #d2c6df
        &[disabled]
            background rgba(255, 255, 255, 0.4)

    &--blue
        color #fff
        background #6a79ff
        &:hover
            background #4f60f6
        &:active
             background #4454e1
        &[disabled]
            background rgba(106, 121, 255, 0.4)
            color rgba(255, 255, 255, .4)


.icon-resist-big
    width 75px
    height 75px
    object-fit contain

.water-resist-big
    background url("../icons/b-resist-water.svg") no-repeat

.fire-resist-big
    background url("../icons/b-resist-fire.svg") no-repeat

.frost-resist-big
    background url("../icons/b-resist-frost.svg") no-repeat

.electro-resist-big
    background url("../icons/b-resist-electro.svg") no-repeat

.icon-spell-big
    width 60px
    height 60px
    object-fit contain

.water-spell-big
    background url("../icons/b-spell-water.svg") no-repeat

.fire-spell-big
    background url("../icons/b-spell-fire.svg") no-repeat

.frost-spell-big
    background url("../icons/b-spell-frost.svg") no-repeat

.electro-spell-big
    background url("../icons/b-spell-electro.svg") no-repeat

.icon-resist-small,
.icon-spell-small
    width 30px
    height 30px
    object-fit contain

.water-spell-small
    background url("../icons/s-spell-water.svg") no-repeat

.fire-spell-small
    background url("../icons/s-spell-fire.svg") no-repeat

.frost-spell-small
    background url("../icons/s-spell-frost.svg") no-repeat

.electro-spell-small
    background url("../icons/s-spell-electro.svg") no-repeat

.water-resist-small
    background url("../icons/s-resist-water.svg") no-repeat

.fire-resist-small
    background url("../icons/s-resist-fire.svg") no-repeat

.frost-resist-small
    background url("../icons/s-resist-frost.svg") no-repeat

.electro-resist-small
    background url("../icons/s-resist-electro.svg") no-repeat


.wizard-figure
    width 575px
    height 633px
    object-fit contain
    transform: rotate(30deg)
    background url("../icons/wizard-figure.svg") no-repeat


.icon-logo-middle
    width 211px
    height 29px
    object-fit contain
    background url("../icons/logo-middle.svg") no-repeat
    
.icon-logo-telegram
    display inline-block
    width 15px
    height 15px
    object-fit contain
    background url("../icons/telegram.svg") no-repeat

.icon-logo-small
    width: 150px
    height: 21px
    object-fit contain
    background url("../icons/logo-small.svg") no-repeat

.icon-smile
    width 150px
    height 168px
    object-fit contain

    &-won
        background url("../icons/smile-won.svg") no-repeat
    &-lost
        background url("../icons/smile-lost.svg") no-repeat

.skill-conf
    width 133px
    display flex
    justify-content space-between
    align-items center
    height 38px
    border-radius 100px
    background #fff
    color #000
    padding 4px 10px
    box-sizing border-box

    &__change
        display flex
        justify-content center
        align-items center
        width 29px
        height 29px
        background #e9e9e9
        border-radius 100px
        cursor pointer








