.manual
    background rgba(7,16,34,1)
    overflow hidden

    &__header
        color: #0
        padding 50px

    &__nav
        ITEMS_COUNT = 4
        ITEMS_WIDTH = 100px

        &-list
            display flex
            flex-wrap wrap
            width ITEMS_WIDTH*4
            margin 0 auto
            background-color rgba(255,255,255,.34)

        &-item
            flex-shrink 0
            width ITEMS_WIDTH
            text-align center
            background rgba(7,16,34,1)

            for i in (1..ITEMS_COUNT)
                &:nth-child({i}).active ~ .manual__nav-border
                    margin-left (i - 1)*ITEMS_WIDTH

        &-link
            display block
            padding 15px
            color rgba(255,255,255, .5)
            cursor pointer

        &-border
            width ITEMS_WIDTH
            height 2px
            background #6abeff
            transition margin-left .3s ease 0s

    &__content
        color: #f
        display flex

    &__image
        flex-shrink 0
        color: #f
        margin-right 50px
        height 400px
        width 630px

        & > img
            display block
            margin 0 auto
            box-shadow 0px 0px 15px rgba(255,255,255,.5)
            bdorder-radius 10px

    &__info
        color: #f
        display flex
        flex-direction column
        align-items start
        font-size 15px
        padding 0 50px 0 0

        &-header
            color: #f
            margin-bottom 25px
            font-size 21px

        &-icons
            display flex
            & > div
                margin-right 15px

        & > span,
        & > img
            margin-bottom 15px
