.modal
    &__overlay
        position fixed
        top 0
        left 0
        width 100%
        height 100%
        background rgba(0,0,0,1)

        display flex
        align-items center
        justify-content center

        z-index 25

    &__window
        position relative
        border-radius 9px
        background-image linear-gradient(to bottom, #393c4d, #473852)
        font-size 15px

        height 625px
        width 740px

        display flex
        flex-direction column
        justify-content space-between
        align-items center

        color #f
        padding-top 50px

    &__title
        font-weight 600
        font-size 34px

    &__close
        position absolute
        height 20px
        width 20px
        right 20px
        top 20px
        cursor pointer

        background url(../icons/close.svg) no-repeat center center

    &__content
        padding 25px
        display flex
        flex-direction column
        align-items center

        &--loading
            height 100%
            justify-content space-between
            padding-bottom 100px

        &--result
            height 100%
            width 440px
            text-align center

    &__mana
        display flex
        justify-content space-between
        width 100px

        &-icon
            display block
            width 18px
            height 18px
            background-color #6b92ff
            border-radius 100%

        &-count
            line-height 1
            font-size 21px
            font-weight bold


    &__user
        display flex
        align-items center
        justify-content center
        color #f

        &-icon
            height 30px
            width 30px
            border-radius 100%
            display flex
            justify-content center
            align-items center

            margin-right 10px
            text-transform uppercase
            font-weight bold

    &__select-resist
        background rgba(11, 19, 37, .6)
        padding 45px 80px 50px 80px
        border-top-left-radius 100px
        border-top-right-radius 100px
        height 200px

    &__resists
        display flex
        justify-content space-between
        min-width 400px

    &__resist
        display flex
        flex-direction column
        align-items center
        text-align center
        cursor pointer

        margin 10px

        &.active
            opacity 1

            &:hover
                opacity 1

        &.deactive
            opacity .4

            &:hover
                opacity .6

        &-icon
            margin-bottom 15px
        &-name
            font-size 15px
            margin-bottom 5px

        &-count
            display flex
            align-items center

        &-value
            font-size 13px
            margin-right 5px

        &-color
            height 10px
            width 10px
            border-radius 100%
            background-color #6b92ff

    &__progress
        &-duration
            position relative
            border-radius 100px
            height 10px
            background-color #1e2134
            overflow hidden

        &-value
            position absolute
            height 100%
            width 0

            animation progress
            animation-duration 1s
            animation-fill-mode forwards

    &__spell-icon
        height 50px
        display flex
        justify-content center

    &__points
        font-size 21px
        margin-right 15px

        &--blue
            color #a9f6f1

    &__button
        display block
        margin 0 auto
        width 240px



