.spacer
    &--top
        &5
            margin-top 5px

        &15
            margin-top 15px

        &25
            margin-top 25px

        &50
            margin-top 50px

        &100
            margin-top 100px

    &--bottom
        &5
            margin-bottom 5px

        &15
            margin-bottom 15px

        &25
            margin-bottom 25px

        &35
            margin-bottom 35px

        &40
            margin-bottom 40px

        &50
            margin-bottom 50px

        &100
            margin-bottom 100px

    &--both
        &5
            margin 5px 0

        &15
            margin 15px 0

        &25
            margin 25px 0

        &50
            margin 50px 0

        &100
            margin 100px 0
