@import '../../node_modules/normalize.css/normalize.css'
@import './fonts.css'
@import './framework'
@import './spacer'
@import './animations'
@import './auth'
@import './manual'
@import './welcome'
@import './app'
@import './modal'
@import './update'
@import './bubbles'

html, body
    user-select none
    padding 0
    margin 0
    font-family: "ProximaNova"
    min-width 1200px
    height 100%

ul,li
    padding 0
    margin 0
    display block

.__hoverImage
    width 100%
    height 100%
    position absolute
    display flex
    align-items center
    justify-content center
    background-image linear-gradient(to bottom, #061022, #2e052f);

    &__logo
        margin 0 auto
