.update
    padding 57px 55px 0
    background rgba(255, 255, 255, 0.19)
    border-radius: 12px;
    box-sizing border-box
    overflow hidden
    margin-top 40px
    padding 55px 38px
    
    &__header
        width 430px
        
    &__back
        width 16px
        height 16px
        cursor pointer
    
    &__title
        margin-top 30px
        font-size 21px
        font-weight 600
        letter-spacing -0.3px
        color #ffef6a
        
    &__description
        margin-top 17px
        font-size 15px
        letter-spacing -0.2px
        color #fff
    
    &__content
        margin-top 20px
        display flex
        justify-content space-between
        flex-wrap wrap
        width 730px
    
    &__feature
        margin-top 40px
        
        &-item
            margin-top 73px
            & > .update__feature-img
                height inherit
        
        &-img
            height 217px
            display flex
            align-items flex-end
    
    &__feature.feature--basis45
        flex-basis 45%
        
    &__feature.feature--basis30
        flex-basis 30%
    
    &__feature-title
        font-size 21px
        font-weight 600
        letter-spacing -0.3px
        color #fff
        margin-top 25px
        
    &__feature-description
        margin-top 12px
        font-size 15px
        letter-spacing -0.2px
        color #fff

.img-crafting
    width 242px
    height 196px
    object-fit contain
    background url("../images/crafting.svg") no-repeat

.img-creatures
    width 398px
    height 174px
    object-fit contain
    background url("../images/creatures.svg") no-repeat
    
.img-heroes
    width 387px
    height 178px
    object-fit contain
    background url("../images/heroes.svg") no-repeat
    
.img-ork
    width 217px
    height 217px
    object-fit: contain;
    background url("../images/ogre-hero.svg") no-repeat

.img-weapon
    width 244px
    height 90px
    object-fit contain
    background url("../images/weapons.svg") no-repeat

.icon-arrow-back
    width 16px
    height 16px
    object-fit contain
    background url("../images/back.svg") no-repeat
    
      