.welcome
    background-image linear-gradient(to bottom, #061022, #2e052f)
    padding 40px 50px 40px
    &__header
        display flex
        justify-content space-between

    &__nav
        &-list
            display flex

        &__item
            height 18px
            color rgba(255, 255, 255, 0.58)
            font-size 15px
            letter-spacing -0.2px
            list-style-type none
            cursor pointer
            &.nav-item--yellow
                color #ffef6a

        &__item:not(:first-child):hover
            color rgba(255, 255, 255, 1)

        &__item:not(:first-child)
            margin-left 26px

    &__content
        position relative
        padding 57px 55px 0
        background rgba(255, 255, 255, 0.19)
        border-radius: 12px;
        box-sizing border-box
        overflow hidden
        margin-top 40px
    &__title
        font-size 21px
        font-weight 600
        letter-spacing -0.3px
        color #fff
        margin-bottom 15px

    &__username
        color #5aafff
        letter-spacing -0.3px

    &__description
        margin-top 17px
        font-size 15px
        letter-spacing -0.2px
        color #fff
        width 435px

    &__content-points
        margin-top 45px

        &__points
            font-size 21px
            font-weight 600
            letter-spacing -0.3px
            color #fff

    &__points-content
        margin-top 35px
        display flex
        flex-wrap wrap
        justify-content space-between
        width 680px

    &__resist
        display flex
        justify-content space-between
        padding 20px 0

        &-wrap
            width 47%

        &-info
            width 220px

        &-title,
        &-description
            font-size 15px
            letter-spacing -0.2px
            color #fff

        &-title
            font-weight bold

        &-description
            margin-top 5px

        &-mana
            color #597aff

        &-skill
            margin-top 10px

    &__points-footer
        margin-top 45px

        & span
            font-size: 15px
            letter-spacing -0.2px
            color #fff
            margin-left 21px

    &__start
        display inline-block
        width 150px

    &__rules
        margin-top 60px
        & > span
            font-size 21px
            font-weight 600
            letter-spacing -0.3px
            color #fff

    &__magic-boy
        position absolute
        right -150px
        transform rotate(0deg)
        background-size 110%

