div.welcome
    div.welcome__header
        div.icon-logo-small
        ul.welcome__nav-list
            li.welcome__nav__item.nav-item--yellow((click)="isShowUpdateRools = !isShowUpdateRools") Update soon
            li.welcome__nav__item((click)="signOut()") Log out

    .update(*ngIf="isShowUpdateRools")
        .update__header
            .update__back((click)="isShowUpdateRools = !isShowUpdateRools")
                .icon-arrow-back
            .update__title New features every month!
            .update__description
                | We&nbsp;are very pleased to&nbsp;inform you that we
                | &nbsp;have planned a&nbsp;lot of&nbsp;cool
                | innovations in&nbsp;our game. Gradually we&nbsp;will
                | introduce many interesting things

        .update__content
            .update__feature.feature--basis45
                .update__feature-img
                    .img-heroes
                .update__feature-title 4 Classes
                .update__feature-description
                    | Four new classes that will have their advantages and disadvantages,
                    | they will have different abilities, ultimate spells and weapons.
                    | Yep! We&nbsp;will bring into the game armors and weapons!
            .update__feature.feature--basis30
                .update__feature-img
                    .img-ork
                .update__feature-title Races
                .update__feature-description
                    | We&nbsp;will add the ability to&nbsp;select one
                    | of&nbsp;several races for your character and you
                    | will be&nbsp;able to&nbsp;get bonuses depending on&nbsp;your choice!
            .update__feature.feature--basis45
                div
                    .update__feature-title Level up!
                    .update__feature-description
                        | Four new classes that will have their advantages
                        | and disadvantages, they will have different abilities, ultimate spells and weapons.
                        | Yep! We&nbsp;will bring into the game armors and weapons!
                div
                    .update__feature-title PvP arena
                    .update__feature-description
                        | Fight with your friends against other players
                        | in the arenas 3 x 3, 2 x 2.
            .update__feature.feature--basis30.update__feature-item
                .update__feature-img
                    .img-weapon
                .update__feature-title Items
                .update__feature-description
                    | We&nbsp;will add the ability to&nbsp;select one of&nbsp;
                    | several races for your character and you will be&nbsp;
                    | able to&nbsp;get bonuses depending on&nbsp;your choice!
            .update__feature.feature--basis45
                .update__feature-img
                    .img-creatures
                .update__feature-title Creatures and quests
                .update__feature-description
                    | Your hero will be available weekly and daily tasks,
                    | as well as you can attack the mobs and get for this
                    | experience points and new things
            .update__feature.feature--basis30
                .update__feature-img
                    .img-crafting
                .update__feature-title Craft and sell
                .update__feature-description
                    | In&nbsp;the game you can create a&nbsp;potion and
                    | weapons. Create new powerful clothes and sell
                    | it&nbsp;on&nbsp;the trading floor

    div.welcome__content(*ngIf="!isShowUpdateRools")
        .welcome__magic-boy.wizard-figure
        div.welcome__content-header
            div.welcome__title
                span Welcome,&nbsp;
                span.welcome__username {{user.name}}

            div.welcome__description
                span You're almost on the battlefield! First of all distribute your protection points and read the rules that are on the right side of the screen. Good luck, rookie!

        div.welcome__content-points
            div.welcome__points
                span.welcome__title Yov got {{points}} points!

                div.welcome__points-content
                    div.welcome__resist-wrap
                        div.welcome__resist
                            div.icon-resist-big.frost-resist-big
                            div.welcome__resist-info
                                div.welcome__resist-title Frost Resist
                                div.welcome__resist-description
                                    span Protecting you from spell «Frost arrow», that costs&nbsp;
                                    span.welcome__resist-mana 7 mana
                                    div.welcome__resist-skill
                                        div.skill-conf
                                            div.skill-conf__change((click)="decrease('frost')") -
                                            div {{frost}}%
                                            div.skill-conf__change((click)="increase('frost')") +
                                            

                    div.welcome__resist-wrap
                        div.welcome__resist
                            div.icon-resist-big.water-resist-big
                            div.welcome__resist-info
                                div.welcome__resist-title Water Resist
                                div.welcome__resist-description
                                    span Protecting you from spell «Water arrow», that costs&nbsp;
                                    span.welcome__resist-mana 6 mana
                                    div.welcome__resist-skill
                                        div.skill-conf
                                            div.skill-conf__change((click)="decrease('water')") -
                                            div {{water}}%
                                            div.skill-conf__change((click)="increase('water')") +
                                            
                    div.welcome__resist-wrap
                        div.welcome__resist
                            div.icon-resist-big.electro-resist-big
                            div.welcome__resist-info
                                div.welcome__resist-title Electro Resist
                                div.welcome__resist-description
                                    span Protecting you from spell «Electro arrow», that costs&nbsp;
                                    span.welcome__resist-mana 8 mana
                                    div.welcome__resist-skill
                                        div.skill-conf
                                            div.skill-conf__change((click)="decrease('electro')") -
                                            div {{electro}}%
                                            div.skill-conf__change((click)="increase('electro')") +
                    div.welcome__resist-wrap
                        div.welcome__resist
                            div.icon-resist-big.fire-resist-big
                            div.welcome__resist-info
                                div.welcome__resist-title Fire Resist
                                div.welcome__resist-description
                                    span Protecting you from spell «Fire arrow», that costs&nbsp;
                                    span.welcome__resist-mana 5 mana
                                    div.welcome__resist-skill
                                        div.skill-conf
                                            div.skill-conf__change((click)="decrease('fire')") -
                                            div {{fire}}%
                                            div.skill-conf__change((click)="increase('fire')") +
                                            

                div.welcome__points-footer
                    div.welcome__start
                        button.btn.btn--blue([disabled]="points > 0", (click)="setResists()") Let's go
                    span You need to spend all points

        div.welcome__rules
            div.welcome__title Rules

            div.manual
                div.manual__header
                    ul.manual__nav-list
                        li([ngClass]="{ 'active' : activeManualTab == 1 }", (click)="setActiveManualTab(1)").manual__nav-item
                            span.manual__nav-link Enemies

                        li([ngClass]="{ 'active' : activeManualTab == 2 }", (click)="setActiveManualTab(2)").manual__nav-item
                            span.manual__nav-link Figthting

                        li([ngClass]="{ 'active' : activeManualTab == 3 }", (click)="setActiveManualTab(3)").manual__nav-item
                            span.manual__nav-link Score

                        li([ngClass]="{ 'active' : activeManualTab == 4 }", (click)="setActiveManualTab(4)").manual__nav-item
                            span.manual__nav-link Loose

                        li.manual__nav-border

                div(*ngIf="activeManualTab == 1").manual__content
                    div.manual__image
                        img(src="../images/screen-1.jpg")
                    div.manual__info
                        div.manual__info-header
                        span.welcome__title Defeat users
                        span the list on the right are your opponents! Do not let them attack first. Click on the nick to attack the opponent. If you can win, some of his bonuses will belong to you, until he recaptures himself.
                        img(src="../icons/score-block.png", alt="")
                        span While someone owns you you will not be able to score anybody until you get your page back

                div(*ngIf="activeManualTab == 2").manual__content
                    div.manual__image
                        img(src="../images/screen-2.jpg")
                    div.manual__info
                        div.manual__info-header
                        span.welcome__title How to fight?
                        span When you click on the enemy, a window appears in front of you, where you can choose which spell to attack. Each of the elements costs a different amount of mana. After when you chose the spell and clicked the button «cast!», we'll let you know if you hit it or not. Each opponent also has resistances, just like you - remember this!
                        div.manual__info-icons
                            div.icon-speell-big.water-spell-big
                            div.icon-speell-big.fire-spell-big
                            div.icon-speell-big.frost-spell-big
                            div.icon-speell-big.electro-spell-big

                div(*ngIf="activeManualTab == 3").manual__content
                    div.manual__image
                        img(src="../images/screen-3.jpg")
                    div.manual__info
                        div.manual__info-header
                        span.welcome__title What is «exp» and «bonus points»?
                        span There two types of points in game - «basic» and «variable». The basic points, called «exp». You earn them, fighting in battles and for each won battle you get 1 point (exp) forever.
                        img(src="../icons/1-exp.png", alt="")
                        span The variable part of points for a victory depends on how many users your opponent owns. You always receive 50% of the opponent's points that you own.
                        img(src="../icons/44-bonus.png", alt="")
                        span When your opponent will win his page back from you - you will lose the bonus points that you received from him

                div(*ngIf="activeManualTab == 4").manual__content
                    div.manual__image
                        img(src="../images/screen-4.jpg")
                    div.manual__info
                        div.manual__info-header
                        span.welcome__title Don’t be afraid!
                        span If someone grabs you, do not worry. You can always win back. You do not lose your points, but while you are under somebodys authority you have to share half of your bonus points, except those that you earned in the battle (exp). To win back back you must have mana and a little luck. This battle looks exactly as battle witch enemy you want to own. Good luck!

